* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 400;
    background: linear-gradient(168.55deg, #0d1c29b4 8.85%, #B469EB 42.19%, #8046A5 67.19%, #0D1C29 93.75%);
}